.comment-input {
	width: 100%;
	min-height: 150px;
	border: none;
	border-radius: 8px;
	padding: 24px;
	background-color: #efeded;
}

.comment-input::placeholder {
	color: #898787;
	font-family: Inter;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 76.923% */
}

.input-label {
	color: var(--Primary-Black-light, #515151);
	font-variant-numeric: slashed-zero;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.input__container {
	display: flex;
	flex-direction: column;
}
