.button-app {
	width: 204px;
	height: 36px;
	padding: 8px, 24px, 8px, 24px;
	border-radius: 8px;
	gap: 8px;
	background: rgba(20, 120, 255, 1);
	//styleName: Bold/Button_text;
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
