.button-container {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 8px;
}
.button-container__marker {
	margin: 0;
	width: 16px;
	height: 16px;
}

.button-map {
	margin: 0;
	padding: 0;
	padding-right: 24px;
	border: 0;
	background-color: transparent;
	color: var(--Primary-Gray-blue-dark, #737A8E);
	/* Bold/Button_text */
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;

}
