.button-container {
	display: flex;
	align-items: center;
}
.button-container__marker {
	width: 16px;
	height: 16px;
}

.button-map {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	border: none;
	background: rgba(252, 252, 252, 1);
	margin-right: 31px;
}
