.button {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	width: 131px;
	height: 36px;
	border: none;
	text-align: right;
	background: rgba(252, 252, 252, 1);
	background-image: url('../../images/User_icon.svg');
	background-repeat: no-repeat;
}

.comment-submit-button {
	display: flex;
	width: 265px;
	height: 45px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background-color: #aaa;
	color: #fff;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 83.333% */
}

.button-app {
	width: 204px;
	height: 36px;
	border-radius: 8px;
	background: rgba(20, 120, 255, 1);
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	margin-right: 0;
}

.button-add {
	width: 204px;
	height: 44px;
	border-radius: 8px;
	gap: 8px;
	background: rgba(20, 120, 255, 1);
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	padding-left: 18px;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-login-site {
	margin: 0;
	color: var(--Accent, #1478ff);
	//styleName: Bold/Button_text;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;

	display: flex;
	padding: 6px 20px;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 94px;
	height: 36px;
	border-radius: 8px;
	background: #e5f0ff;
	border: 0;
	cursor: pointer;
	margin-bottom: 2px;
	margin-right: 12px;
	margin-left: 30px;
}
