.popup__login-form-link-to-signup {
	color: var(--Primary-Gray-blue-dark, #737a8e);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	text-decoration-line: underline;
}
