.button-login-site {
    margin: 0;
    padding: 0;
    color: var(--Accent, #1478FF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 36px;
    border-radius: 8px;
    background: #E5F0FF;
    border: 0;
    cursor: pointer;
}



