.popup__login-form-link-recover {
	color: var(--Primary-Gray-blue-dark, #737a8e);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 142.857% */
	text-decoration-line: underline;
}
