.popup__login-form-link-recover {
    color: var(--Primary-Gray-blue-dark, #737A8E);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-decoration-line: underline;
}
