.button-app {
	width: 246px;
	height: 54px;
	padding: 18px, 36px, 18px, 36px;
	gap: 10px;
	background-color: rgba(137, 137, 137, 1);
	color: white;
	border: none;
	font-family: Comic Neue;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
    cursor: pointer;
}
