.button-container {
	display: flex;
	align-items: center;
}
.button-container__marker {
	width: 16px;
	height: 16px;
}

.button-map {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	border: none;
	background: rgba(252, 252, 252, 1);
}
