.profile {
	width: 100%;
	height: 100vh;
	background-color: #f2f3f7;
}

.profile__container {
	display: flex;
	width: calc(415px + 593px + 32px);
	justify-content: center;
	padding: 62px 0 0;
	margin: 0 auto;
	column-gap: 32px;
}

.profile__navigation {
	width: 325px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px 24px;
}

.profile__avatar {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
}

.profile__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14px;
}

.profile__menu {
	display: flex;
	flex-direction: column;
	background-color: #fcfcfc;
	padding: 16px;
	border-radius: 12px;
	gap: 4px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.profile__menu-button {
	font-family: 'Roboto', sans-serif;
	display: flex;
	width: 100%;
	height: 48px;
	padding: 0 0 0 24px;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	background-color: transparent;
	color: #737a8e;
	outline: none;
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	cursor: pointer;
}

.profile__menu-button_active {
	background-color: #f2f3f7;
}

.profile__menu-button_inactive {
	background-color: transparent;
}

.profile__menu-button-icon {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.profile__personal-info {
	display: flex;
	height: fit-content;
	width: 683px;
	flex-direction: column;
	background-color: #fcfcfc;
	padding: 24px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.form__title_place_profile {
	font-family: 'Roboto Flex', sans-serif;
	color: #0e0e0e;
	text-align: left;
	font-size: 26px;
	font-weight: 900;
	line-height: 28px;
	letter-spacing: 0.01em;
	margin: 0 0 16px;
}

.profile__nav-button {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	outline: none;
	border: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.profile__button-logout {
	height: 44px;
	padding: 0;
	color: #1478ff;
	background-color: #e5f0ff;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.profile__button-account-delete {
	background-color: transparent;
	height: 36px;
	color: #737a8e;
	padding: 4px 0 0 0;
}

.button-y {
	border: none;
	border-radius: 10px;
	width: 200px;
	height: 30px;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #aaa;
}

.popup__title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #515151;
	margin: 0;
	padding-top: 12px;
}

.popup__header.popup__header_left-aligned {
	text-align: left;
}

.popup__button-container {
	display: flex;
	max-width: 312px;
	gap: 12px;
	justify-content: left;
	padding: 32px 0 0;
}

.button.popup__button {
	font-family: inherit;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: calc(312px / 2 - 12px);
	height: 44px;
	font-weight: 700;
	line-height: 18px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.popup__button.popup__button-n {
	background-color: #E5F0FF;
	color:#1478FF;
	background-image: none;
}

.popup__button.popup__button-y {
	background: #1478ff;
	color: #fff;
	font-size: 16px;
}

.popup__change-password-form {
	display: flex;
	flex-direction: column;
	max-width: 480px;
	margin: 0 auto 84px;
	padding: 32px 0 0;
}

.popup__change-password-input {
	width: 100%;
	height: 48px;
	border: 2px solid #aaa;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #111111;
	margin-top: 4px;
	padding: 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.popup__form-error {
	padding: 1px 0 12px;
	max-height: 32px;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
}

.popup__form-error_active {
	color: #f92e2e;
	visibility: 1;
}

.popup__change-password-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d2d2d2;
	color: #fff;
	width: 400px;
	height: 54px;
	margin: 32px auto 0;
}
