.sports-ground__title {
	font-family: Roboto Flex;
	font-size: 28px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	margin: 35px 0 0;
}

.sports-ground {
	padding: 0 260px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.sports-ground__adress-container {
	display: flex;
	margin: 8px 0 0;
	align-items: center;
}

.sports-ground__adress-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../images/adress-icon.svg);
	background-position: center;
	background-size: cover;
	margin-right: 8px;
}

.sports-ground__link {
	color: #1478ff;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	margin: 40px 0 0;
	padding: 10px 0;
}

.sports-ground__adress {
	color: #515151;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0;
}

/* .photo-container {
	width: 100%;
	height: 400px;
} */

.sports-ground__button-container {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.sports-ground__button {
	border: none;
	padding: 0;
	width: 206px;
	height: 36px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #737a8e;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin: 21px 0 0px 0;
	border-radius: 8px;
}

.sports-ground__button-text {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
}

.sports-ground__button-like {
	margin: 0;
	width: 16px;
	height: 16px;
	background-image: url(../../images/LikeSportground.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.sports-ground__button-warning {
	margin: 0;
	width: 16px;
	height: 16px;
	background-image: url(../../images/icn_warning.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.sports-ground__photo {
	width: 772px;
	height: 400px;
	border-radius: 10px;
}

.category-section {
	margin-top: 40px;
}

.category-title {
	color: #030303;
	font-size: 28px;
	font-style: normal;
	font-weight: 850;
	line-height: 32px; /* 114.286% */
	margin: 0;
	text-align: left;
}

.category-container {
	margin-top: 20px;
	display: flex;
	gap: 12px;
	justify-content: flex-start;
}

.category {
	/* width: 124px; */
	height: 48px;
	padding: 12px 20px;
	border: 1px solid #1478ff;
	border-radius: 8px;
	background-color: #e2eeff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.category-icon {
	width: 24px;
	height: 24px;
	background-image: url(../../images/ion_football.png);
	background-position: center;
	background-size: cover;
}

.category-name {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: #153e8c;
	padding: 0 4px 0 12px;
	width: min-content;
}

.category-background {
	width: min-content;
	height: 36px;
	background-color: rgba(229, 240, 255, 1);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-ball {
	width: 16px;
	height: 16px;
	margin-left: 3px;
}

.comments-section {
	margin-top: 20px;
}

.comments-title {
	margin: 0;
	text-align: left;
	color: #030303;
	font-size: 28px;
	font-style: normal;
	font-weight: 850;
	line-height: 32px; /* 114.286% */
}

/* .comments-container {
} */

.sports-ground__not-found {
	font-size: 20px;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0.01em;
	display: flex;
	align-self: center;
	padding: 80px 0 0 0;
}

@media screen and (max-width: 1245px) {
	.sports-ground {
		margin: 0 auto;
		padding: 0px;
	}

	.slider-container {
		width: 80%;
	}
}
