.popup__recovery-password-title {
	margin: 0;
	color: var(--Primary-Black, #0e0e0e);
	/* Bold/H2 */
	font-family: Roboto Flex;
	font-size: 28px;
	font-style: normal;
	font-weight: 900;
	line-height: 32px; /* 114.286% */
	letter-spacing: 0.28px;
	margin-bottom: 12px;
	text-align: left;
}

.popup__recovery-password-subtitle {
	margin: 0;
	color: var(--Primary-Black-light, #515151);
	/* Regular/Text */
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.popup__recovery-password-form {
	margin: 0;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
}

.popup__recovery-password-form-input {
	margin: 0;
	margin-top: 4px;
	padding: 11px 0 11px 17px;
	display: flex;
	width: 425px;
	border-radius: var(--xs, 8px);
	border: 1px solid #c9d1e5;
	align-items: flex-start;
}

.popup__recovery-password-form-input:focus {
	outline: 1px solid var(--Accent, #1478ff);
}

.popup__recovery-password-button {
	margin: 0;
	color: var(--Primary-White, #fcfcfc);
	/* Bold/Button_text */
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	border-radius: 8px;
	background: var(--Accent-Blue, #1478ff);
	text-align: center;
	width: 202px;
	margin-top: 16px;
}

.popup__recovery-password-back {
	margin: 0;
	margin-top: 32px;
	align-self: center;
	color: var(--Primary-White, #fcfcfc);
	/* Bold/Button_text */
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	border-radius: 8px;
	background: var(--Accent-Blue, #1478ff);
	text-align: center;
	width: 326px;
	height: 44px;
	margin-bottom: 4px;
}

.popup__recovery-password-send-again {
	margin: 0;
	align-self: center;
	background-color: transparent;
	color: var(--Primary-Gray-blue-dark, #737a8e);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 125% */
	text-decoration-line: underline;
	width: 326px;
}
