.popup {
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;

	top: 0;
	left: 0;
	z-index: 350;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	transition:
		opacity 0.7s ease,
		visibility 0.2s ease;
	-webkit-transition:
		opacity 0.7s ease,
		visibility 0.2s ease;
	-moz-transition:
		opacity 0.7s ease,
		visibility 0.2s ease;
	-ms-transition:
		opacity 0.7s ease,
		visibility 0.2s ease;
	-o-transition:
		opacity 0.7s ease,
		visibility 0.2s ease;
}

.popup_opened {
	visibility: visible;
	opacity: 1;
}

.popup__container {
	width: 33.6vw;
	width: 529px;
	// max-width: 730px;
	// min-width: 282px; // уточнить
	border-radius: var(--md, 16px);
	background: var(--Background_secondary, #fcfcfc);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 36px 52px;
	display: flex;
	flex-direction: column;
	position: relative;
	color: #000;
	box-sizing: border-box;
	box-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.popup__close-button {
	border: none;
	outline: none;
	background: url(../../images/close-popup-button.svg) no-repeat;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 24px;
	height: 24px;
	background-size: 100%;
	transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	cursor: pointer;
	padding: 0;
}

.popup__close-button:hover {
	opacity: 0.6;
}

.popup__header {
	margin: 0;
	color: var(--Text_main, #030303);
	text-align: center;
	font-family: Garet;
	font-size: 28px;
	font-style: normal;
	font-weight: 850;
	line-height: 36px;
}

// добавить media queries
