$fontsRoboto: 'Roboto';

@mixin fontsTitle {
	font-family: $fontsRoboto;
	font-size: 24px;
	font-weight: 900;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0;
}

@mixin displayPosition {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin blocks {
	width: 772px;
	border-radius: 12px;
	margin-top: 24px;
	background: rgba(252, 252, 252, 1);
	padding: 24px;
}

@mixin label {
	font-family: $fontsRoboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(81, 81, 81, 1);
	margin-top: 12px;
}

@mixin inputs {
	width: 724px;
	height: 42px;
	border-radius: 8px;
	margin-top: 4px;
	border: 1px solid rgba(201, 209, 229, 1);
}

.area-app {
	padding-left: 200px;
	color: rgba(81, 81, 81, 1);
}
.area-app__link {
	font-family: $fontsRoboto;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #737a8e;
	margin-top: 50px;
	padding-left: 33px;
	text-decoration: none;
	text-align: left;
	background-image: url('../../images/left-arrow.svg');
	background-repeat: no-repeat;
}

.area-app__information {
	display: flex;
	flex-direction: column;
}

.area-app__title {
	margin-top: 33px;
	font-family: Garet;
	font-size: 36px;
	font-weight: 850;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 0;
}

.kinds-of-sports {
	@include blocks;
}
.kinds-of-sports__title {
	@include fontsTitle;
}
.kinds-of-sports__label {
	@include displayPosition;
	@include label;
}
.kinds-of-sports__add {
	@include inputs;
}

.location {
	@include blocks;
}

.locatin__title {
	@include fontsTitle;
}
.location__label {
	@include displayPosition;
	@include label;
}
.location__adress {
	@include inputs;
}

.foto {
	@include blocks;
}
.foto__title {
	@include fontsTitle;
}

.foto__subtitle {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 9px;
}

.foto__container {
	display: flex;
	width: 724px;
	height: 175px;
	border-radius: 8px;
	gap: 8px;
}

.foto__file-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 175px;
	height: 175px;
	padding: 24px;
	border-radius: 8px;
	border: 2px;
	gap: 8px;
	border: 2px dashed rgba(20, 120, 255, 0.3);
}
.foto__file-add {
	display: none;
}
.foto-file-img {
	cursor: pointer;
}

.app-area {
	@include blocks;
	display: flex;
	flex-direction: column;
	margin-bottom: 184px;
}
.app-area__title {
	@include fontsTitle;
}
.app-area__subtitle {
	font-family: $fontsRoboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	width: 391px;
	margin-top: 8px;
	margin-bottom: 24px;
}
