.header {
	display: flex;
	justify-content: center;
	background-color: rgba(252, 252, 252, 1);
	padding: 10px;
	height: 68px;
	color: black;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.header__logo {
	margin-top: 7px;
	margin-left: 46px;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;

	.logo {
		margin-right: 13px;
	}

	.header__title {
		font-family: Garet;
		font-size: 20px;
		font-weight: 850;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
	}
}

.header__buttons {
	display: flex;
	align-items: center;
	width: 422px;
}
