.password-label {
    color: #767676;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	text-align: left;
}

.password-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.password-input {
    width: 100%;
	height: 48px;
	border: 2px solid #aaa;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #111111;
	margin-top: 4px;
	padding: 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.password-show-hide-button {
    background: url(../../images/show-hide-password-button.svg) no-repeat center;
    width: 22px;
    height: 22px;
    display: flex;
    position: absolute;
    top: 13px;
    right: 13px;
    outline: none;
    border: none;
}

.password-error {
    padding: 1px 0 12px;
	max-height: 32px;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
}
.password-error_active {
    color: #F92E2E;
	visibility: 1;
}