.password-label {
	color: var(--Primary-Black-light, #515151);
	font-variant-numeric: slashed-zero;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.password-input-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 16px;
}

.password-input {
	margin: 0;
	margin-top: 4px;
    padding: 11px 0 11px 17px;
    display: flex;
    width: 425px;
    border: 1px solid #C9D1E5;
    align-items: flex-start;
	border-radius: var(--xs, 8px);
	-webkit-border-radius: var(--xs, 8px);
	-moz-border-radius: var(--xs, 8px);
	-ms-border-radius: var(--xs, 8px);
	-o-border-radius: var(--xs, 8px);
}

.password-input:focus {
    outline: 1px solid var(--Accent, #1478FF);
}


.password-show-hide-button {
	background: url(../../images/show-hide-password-button.svg) no-repeat center;
	width: 16px;
	height: 16px;
	display: flex;
	position: absolute;
	top: 36px;
	right: 11px;
	outline: none;
	border: none;
}

.password-error {
	padding: 1px 0 12px;
	max-height: 32px;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
	position: absolute;
	bottom: -36px;
	left: 0;
}
.password-error_active {
	color: #f92e2e;
	visibility: 1;
}
