.footer {
	background-color: lightgrey;
	color: black;
	display: flex;
	width: 100%;
	padding: 32px 56px;
	align-items: center;
	gap: 64px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.footer__copyright {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

.footer__nav-link {
	color: black;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

.footer__nav-link:hover {
	opacity: 0.7;
}
