.slider-container {
	width: 861px;
	height: 400px;
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.slider-window {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
}

.images-container {
	height: 100%;
	display: flex;
	transition: translate;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.arrow {
	cursor: pointer;
}

@media screen and (max-width: 964px) {
	.slider-container {
		width: 761px;
		align-self: center;
	}
}

@media screen and (max-width: 856px) {
	.slider-container {
		width: 661px;
	}
}

@media screen and (max-width: 756px) {
	.slider-container {
		width: 561px;
	}
}

@media screen and (max-width: 660px) {
	.slider-container {
		width: 461px;
		height: 300px;
	}
}

@media screen and (max-width: 530px) {
	.slider-container {
		width: 400px;
		height: 300px;
	}
}

@media screen and (max-width: 469px) {
	.slider-container {
		width: 400px;
		height: 300px;
	}
}

@media screen and (max-width: 446px) {
	.slider-container {
		width: 350px;
		height: 250px;
	}
}

@media screen and (max-width: 410px) {
	.slider-container {
		width: 320px;
		height: 220px;
	}
}
