@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.login-form {
	@include flex-column;
	margin-top: 16px;
	width: 100%;

	&__container {
		@include form-container;
	}

	&__down_group {
		margin: 0;
		height: 44px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__error-container {
		@include input-help-text;
		color: $modal-btn-red;
		text-align: start;
		min-height: 18px;
		max-height: 32px;
		margin: 4px 0px 8px 0px;
	}

	&__btn-resend-activate {
		border: none;
		background-color: inherit;
		color: $main-black-light;
		text-decoration-line: underline;
		padding: 0px 6px;
	}

	&__button-signin {
		width: 100%;
	}
}

@media screen and (max-width: 648px) {
	.login-form__container {
		width: calc(335px - (16px * 2));
	}
	.login-form__down_group {
		height: 24px;
	}
}
