@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.password-recovery-form {
	@include flex-column;

	&__container {
		@include form-container;
	}

	&__text {
		@include main-text;
		margin: 8px 0px 16px 0px;
		color: $main-black-light;
	}

	&__error-container  {
		@include input-help-text;
		color: $modal-btn-red;
		text-align: start;
		max-height: 32px;
		margin: 4px 0px 8px 0px;
	}

	&__btn-resend-activate {
		border: none;
		background-color: inherit;
		color: $main-black-light;
		text-decoration-line: underline;
		padding: 0px 6px;
	}

	&__button-send {
		width: 202px;
	}
}

// 897px
@media screen and (max-width: 648px) {
	.password-recovery-form__container {
		width: 303px;
		align-items: baseline;
	}
	.password-recovery-form {
		width: 303px;
		margin-top: 8px;
	}
	.password-recovery-form__text {
		margin: 0;
		padding: 0 0 16px;
		font-size: 14px;
		line-height: 16px;
	}
}
