.login-form__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 425px;
	margin-left: 200px;
}
.login-form {
	margin: 0;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
}

.login-form__down_group {
	margin: 0;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.login-form__server-error {
	min-height: 22px;
	max-height: 32px;
	text-align: center;
	color: #f92e2e;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	padding: 4px 0;
}

.login-form__button-signin {
	margin: 0;
	border-radius: 8px;
	background: var(--Accent-Blue, #1478ff);
	padding: 0;
	width: 326px;
	height: 44px;
	color: var(--Primary-White, #fcfcfc);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	align-self: center;
}

.login-form__paragraph {
	margin: 0;
	padding: 16px 0px;
	color: var(--Primary-Gray-blue-dark, #737a8e);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	display: flex;
	gap: 4px;
	align-self: center;
}
