@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.register-form {
	@include flex-column;
	margin-top: 16px;

	&__container {
		@include form-container;
	}

	&__link-politiks {
		color: inherit;
	}

	&__server-error {
		@include input-help-text;
		color: $modal-btn-red;
		text-align: center;
		min-height: 18px;
		max-height: 32px;
		padding: 4px 0;
		margin: 16px 0 4px 0;
	}

	&__button-register {
		width: 100%;
	}
}

@media screen and (max-width: 648px) {
	.register-form__container {
		width: calc(335px - (16px * 2));
	}
}
